{{>layouts/header}}

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
        {{#article}}
    <tr>
        <th>{{id}}</th>
        <td></td>
        <td>제목 : {{title}}</td>
        <td>내용 : {{content}}</td>
    </tr>
        {{/article}}
    </tbody>
</table>
<a href="/articles/{{article.id}}/edit" class="btn btn-primary">수정</a>
<!-- POST GET UPDATE DELETE -->
<a href="/articles/{{article.id}}/delete" class="btn btn-danger">삭제</a>
<a href="/articles" class="btn btn-primary">MainPage</a>

{{>layouts/footer}}